

# Entorno virtual
venv/

# Archivos temporales
*.pyc
__pycache__/

# Archivos de salida
outputs/

# Archivos de configuración de herramientas
.idea/
.vscode/

# Archivos Descargados
downloads/

# Archivos de Tabla de Contenido del PDF "Outline"
outline_pdfs/