

# Entorno virtual
venv/

# Archivos temporales
*.pyc
__pycache__/

# Archivos de salida
outputs/

# Archivos de configuración de herramientas
.idea/
.vscode/

# Archivos Descargados
downloads/

# Archivos de Tabla de Contenido del PDF "Outline"
outline_pdfs/

# Archivos de log
/*.log
/*.csv
*.zip

.env

# Archivos de entrada

data/*

!data/raw/
!data/processed/
!data/external/

data/raw/*
data/processed/*

!data/raw/.gitkeep
!data/processed/.gitkeep


datasets/
logs/