DB_NAME=pbc_dncp
DB_USER=tu_usuario
DB_PASSWORD=tu_contraseña
DB_HOST=localhost
DB_PORT=5432
LOGS_FILE=logs/dncp.log
BASE_LOGS_DIR=logs
DNCP_BASE_URL=https://www.contrataciones.gov.py
BASE_OUTPUT_RAW_DIR=./data/raw
BASE_OUTPUT_PROCESSED_DIR=./data/processed
BASE_INPUT_EXTERNAL_DATA_DIR=./data/external
